.btn {
    background-color: orange !important;
    border-color: orange !important;
}

.message {
    text-align: center;
    display: none;
}

.items {
    .item{
        cursor: pointer;
    }
}
